nav {
  background-color: #fed100;
  font-weight: bold;
  padding: 15px;

  .nav-items {
    a {
      text-decoration-line: none;
      color: #000;
      font-size: 18px;
    }
  }

  .user {
    font-size: 18px;
  }
}
