.banner {
  .carousel-inner {
    .carousel-item {
      height: 450px;
    }
  }

  .carousel-control-prev {
    width: 10% !important;
    background-image: linear-gradient(to right, #000000b6, transparent);
  }

  .carousel-control-next {
    width: 10% !important;
    background-image: linear-gradient(to left, #000000b6, transparent);
  }
}
